.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.file-upoload-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.upload-button {
    margin-top: 15px;
}   

i {
    font-size: 6rem;
    color: white;
    margin-bottom: 25px;
}

.code-container{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;

    textarea {
        width:100%;
    }

    .p-floatlabel {
        width: 100%;
    }
}

.review-container{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

app-review {
    overflow: scroll;
    max-height: 450px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
}