<div>
     <div class="file-upoload-container">
        <div>
            <div class="mb-4 p-8">
                <p-card>
                    <p class="m-0">
                        Upload file containing code. Supported file formats are .py .java .cpp and .js
                    </p>
                    <div>
                        <p-fileupload mode="basic" chooseLabel="Choose" chooseIcon="pi pi-upload" (onUpload)="onUpload($event)"><i class="pi pi-file-import"></i></p-fileupload>
                    </div>
                </p-card>
            </div>
        </div>
        <div class="upload-button">
            <p-button label="Submit for Review" severity="secondary" />
        </div>
    </div>
</div>