<div class="pull-request-diff-container">

  <div class="review-button">
    <p-button (click)="reviewDiff()">Review</p-button>
  </div>

  @if(reviewGenerated) {
    <div class="review-container" id="review-container" contenteditable="true">
      <h1>AI Review</h1>
      <h3>Summary</h3>
      <p>{{review?.summary}}</p>
      <h3>Key Findings</h3>
      @for(finding of review?.key_findings; track finding) {
          <h5>{{finding?.issue}}</h5>
          <p>{{finding?.recommendation}}</p>
      }
      <h3>Suggested Improvements</h3>
      @for(improvement of review?.suggested_improvements; track improvement) {
          <h5>{{improvement?.file}}</h5>
          <p>{{improvement?.changes}}</p>
      }
      <h3>Recommendation</h3>
      <p>{{review?.recommendation}}</p>
      <div contenteditable="false" class="comment-button">
        <p-button label="Add Comment" severity="primary" (onClick)="addComment()"></p-button>
      </div>

      @if(isReviewer) {
        <div contenteditable="false" class="approve-button">
          <p-button label="Add Comment and Approve" severity="primary" (onClick)="addComment(true)"></p-button>
        </div>
      }
      
    </div>
  } @else if(reviewRequested) {
    <p>Review is in progress. Please wait...</p>
  }

  <div #diffContainer class="diff2html-container"></div>

</div>
